/*------------------gobal---------------*/

*{
    padding: 0;
    margin: 0;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
/*----------------utilities---------------------*/
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
}
/*------------header------------------------*/
.site-init{
    display: block;
    background-image: url("../img/image-asset.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
}

/*main*/

/*welcome*/
.welcome-section{
    display: grid;
    grid-template-columns: 50% 50%;
}
.welcome-img{
    background-color: #4dccbd;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-img img{
    display: block;
    width: 20rem;
    border-radius: 20px;
}
/*servicers*/

/*footer*/
.site-footer{
    background-color: rgb(53, 35, 153);
    height: 10rem;
    color: white;
}

/*Pet Cards */
#pets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 1rem;
    row-gap: 1rem;
}
.petCard{
    background-color: rgb(197, 212, 154);
    border-radius: 5px;
    padding: 1rem;
}
/*alert color*/
.alert-error{
    background-color: red;
}
.alert-pass{
    background-color: green;
}

/* hidden class*/
.hidden{
    display: none;
}

/*table display*/
.petTable{
    display: block;
    padding: 1rem;
}
